.top_nav {
    display: flex;
    font-size: x-large;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 25px;
    margin: 0px;
    border-left: 0px;
    position: absolute;
    left: 0;
    top: 0px;
    width: 100%;
    text-decoration: none;
    opacity: 0;
    animation: fadeIn 1s 0.5s forwards;
  }

.title {
    text-decoration: none;
    color: #015990;
}

.title:hover {
    text-decoration: underline;
    color: darkgreen;
}

#about_nav {
    font-size: xx-large;
    text-decoration: underline;
}

#awards_nav {
    font-size: xx-large;
}

#hobbies_nav {
    font-size: xx-large;
}

#project_nav {
    font-size: xx-large;
}

html, body {
  margin: 0;
  padding: 0;
}


#figure {
    display: flex;
    width: 2%;
    margin-left: 3%;
    border-radius: 10%;
    animation: floatUp 1s forwards;
    margin-top: 17%;
  }

@keyframes floatUp {
    from {
      transform: translateY(100%);
    }
    to {
      transform: translateY(0);
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  #background_pic{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  
  #text_1{
    display: flex;
    float: center;
    margin-top: 6%;
    margin-left: 35%;
    border-color: rgb(0, 0, 0);
    border: #046aaa;
    font-size: 40px;
    position: absolute;
    width: 800px;
    flex-direction: row;
    color: #060606;
    text-decoration: underline;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    left: 0;
    top: 0px;
  }

  #content {
    /* 其他样式 */
    display: flex;
    font-size: 25px; /* 修改为适当的字体大小 */
    margin-top: 10%;
    color: #000000;
    background-color: rgba(255, 255, 255, 0.5); /* 白色背景底色，透明度为0.5 */
    border: 10px solid #000000; /* 黑色边框 */
    padding-left:2%; /* 向右增加10像素的内边距 */
    border-radius: 5%;
    flex-direction: column;
    line-height: 130%;
    font-size: x-large;
    margin-left: 33%;
    position: absolute;
    left: 0;
    top: 0;
    width: 60%;
    float: left;
  }

  h2{
    color: #000000;
    margin-left: 1%;
    margin-top: 3%;
    border: 0%;
    margin-bottom: 0;

  }

  #name{
    color: #000;
    text-emphasis-position: inline;
  }

  