/* Here is the setup of the navigation system to make sure it will be the top of the page and the background of it will be transparent */
.top_nav {
  display: flex;
  /* Set display property to flex */
  font-size: x-large;
  flex-direction: row;
  justify-content: space-evenly;
  /* Distribute flex items evenly along the main axis */
  flex-wrap: wrap;
  /* Allow flex items to wrap to the next line if necessary */
  padding: 25px;
  margin: 0px;
  border-left: 0px;
  position: absolute;
  left: 0;
  top: 0px;
  width: 100%;
  text-decoration: none;
  opacity: 0;
  animation: fadeIn 1s 0.5s forwards;
  /* Apply a fade-in animation with a duration of 1 second and a delay of 0.5 seconds */
}

/* Here is the setup of the character of the navigation system to make sure their display */
.title {
  text-decoration: none;
  /* Remove text decoration such as underline */
  color: #015990;
}

.title:hover {
  text-decoration: underline;
  color: darkgreen;
}

#about_nav {
  font-size: 40px;
}

#awards_nav {
  font-size: 40px;
  text-decoration: underline;
  text-decoration-color: #015990;
}

#hobbies_nav {
  font-size: 40px;
}

#project_nav {
  font-size: 40px;
}

#quiz_nav {
  font-size: 40px;
}

html {
  background-color: #ffffff;
  height: 1000px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
  /* Set background figure to fix its position */
#background_pic {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
  /* Set content to fix its position and its size, color*/
#content {
  display: flex;
  font-size: 25px;
  margin-top: 7%;
  color: #000000;
  background-color: rgba(255, 255, 255, 0.9);
  border: 10px solid #78a7f8;
  padding-left: 2%;
  border-radius: 5%;
  flex-direction: column;
  /* Set the flex direction to column */
  line-height: 130%;
  /* Set the line height to 130% */
  font-size: x-large;
  margin-left: 9%;
  position: absolute;
  left: 0;
  /* Position the element flush against the left edge of its containing element */
  top: 0;
  /* Position the element flush against the top edge of its containing element */
  width: 80%;
  float: left;
  /* Float the element to the left */
  animation: floatLeft 1s forwards;
  /* Apply the floatLeft animation with a duration of 1 second */
}
  /* Set title to be large and be the left of the content*/
h2 {
  color: #000000;
  /* Set the text color to #000000 (black) */
  margin-left: 1%;
  /* Set 1% left margin */
  margin-top: 3%;
  /* Set 3% top margin */
  margin-bottom: 0;
  /* Remove bottom margin */
}

#name {
  color: #000;
  /* Set the text color to #000000 (black) */
}

  /* Set animation to help beautify my website */
@keyframes floatUp {
  from {
    transform: translateY(100%);
    /* Move the element 100% of its height in the upward direction */
  }

  to {
    transform: translateY(0);
    /* Move the element back to its original position */
  }
}

  /* Set animation to help beautify my website */
@keyframes floatLeft {
  from {
    transform: translateX(100%);
    /* Move the element 100% of its width in the left direction */
  }

  to {
    transform: translateX(0);
    /* Move the element back to its original position */
  }
}