.top_nav {
  display: flex; /* Set the element to use flexbox layout */
  font-size: x-large; /* Set the font size to x-large */
  flex-direction: row; /* Set the flex direction to row */
  justify-content: space-evenly; /* Distribute the items evenly along the main axis */
  flex-wrap: wrap; /* Allow the items to wrap to the next line if necessary */
  padding: 25px; /* Set 25px padding */
  margin: 0px; /* Remove margin */
  border-left: 0px; /* Remove left border */
  position: absolute; /* Set the position of the element to absolute */
  left: 0; /* Position the element flush against the left edge of its containing element */
  top: 0px; /* Position the element flush against the top edge of its containing element */
  width: 100%; /* Set the width of the element to 100% of its containing element */
  text-decoration: none; /* Remove text decoration */
  opacity: 0; /* Set the initial opacity to 0 (fully transparent) */
  animation: fadeIn 1s 0.5s forwards; /* Apply the fadeIn animation with a duration of 1 second and delay of 0.5 seconds */
}

.title {
  text-decoration: none; /* Remove text decoration such as underline */
  color: #015990; /* Set the color of the text to #015990 */
}

.title:hover {
  text-decoration: underline; /* Add underline text decoration on hover */
  color: darkgreen; /* Change the color of the text to darkgreen on hover */
}

#about_nav {
  font-size: 40px; /* Set the font size to 40 pixels */
}

#awards_nav {
  font-size: 40px; /* Set the font size to 40 pixels */
  text-decoration: underline; /* Add underline text decoration */
  text-decoration-color: #015990; /* Set the color of the underline to #015990 */
}

#hobbies_nav {
  font-size: 40px; /* Set the font size to 40 pixels */
}

#project_nav {
  font-size: 40px; /* Set the font size to 40 pixels */
}

#quiz_nav {
  font-size: 40px; /* Set the font size to 40 pixels */
}

html {
  background-color: #ffffff; /* Set the background color to #ffffff (white) */
  height: 1000px; /* Set the height of the html element to 1000 pixels */
}

@keyframes fadeIn {
  from {
    opacity: 0; /* Set the initial opacity to 0 (fully transparent) */
  }
  to {
    opacity: 1; /* Set the final opacity to 1 (fully opaque) */
  }
}

#background_pic {
  position: fixed; /* Set the position of the element to fixed */
  top: 0; /* Position the element flush against the top edge of the viewport */
  left: 0; /* Position the element flush against the left edge of the viewport */
  width: 100%; /* Set the width of the element to 100% of the viewport width */
  height: 100%; /* Set the height of the element to 100% of the viewport height */
  z-index: -1; /* Set the z-index to -1 to position it behind other elements */
}

#content {
  display: flex; /* Set the element to use flexbox layout */
  font-size: 25px; /* Set the font size to 25 pixels */
  margin-top: 7%; /* Set 7% top margin */
  color: #000000; /* Set the text color to #000000 (black) */
  background-color: rgba(255, 255, 255, 0.9); /* Set the background color to a semi-transparent white */
  border: 10px solid #78a7f8; /* Set a 10px solid border with color #78a7f8 */
  padding-left: 2%; /* Set 2% left padding */
  border-radius: 5%; /* Set a border radius of 5% */
  flex-direction: column; /* Set the flex direction to column */
  line-height: 130%; /* Set the line height to 130% */
  font-size: x-large; /* Set the font size to x-large */
  margin-left: 9%; /* Set 9% left margin */
  position: absolute; /* Set the position of the element to absolute */
  left: 0; /* Position the element flush against the left edge of its containing element */
  top: 0; /* Position the element flush against the top edge of its containing element */
  width: 80%; /* Set the width of the element to 80%of its containing element */
  float: left; /* Float the element to the left */
  animation: floatLeft 1s forwards; /* Apply the floatLeft animation with a duration of 1 second */
}

h2 {
  color: #000000; /* Set the text color to #000000 (black) */
  margin-left: 1%; /* Set 1% left margin */
  margin-top: 3%; /* Set 3% top margin */
  margin-bottom: 0; /* Remove bottom margin */
}

#name {
  color: #000; /* Set the text color to #000000 (black) */
}

@keyframes floatUp {
  from {
    transform: translateY(100%); /* Move the element 100% of its height in the upward direction */
  }
  to {
    transform: translateY(0); /* Move the element back to its original position */
  }
}

@keyframes floatLeft {
  from {
    transform: translateX(100%); /* Move the element 100% of its width in the left direction */
  }
  to {
    transform: translateX(0); /* Move the element back to its original position */
  }
}