.top_nav {
    display: flex;
    font-size: x-large;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 25px;
    margin: 0px;
    border-left: 0px;
    position: absolute;
    left: 0;
    top: 0px;
    width: 100%;
    text-decoration: none;
    opacity: 0;
    animation: fadeIn 1s 0.5s forwards;
  }

.title {
    text-decoration: none;
    color: #015990;
}

.title:hover {
    text-decoration: underline;
    color: darkgreen;
}

#profile_nav {
    font-size: xx-large;
    text-decoration: underline;
    border: thick;
}

#honors_nav {
    font-size: xx-large;
}

#practice_nav {
    font-size: xx-large;
}

#project_nav {
    font-size: xx-large;
}

html {
    background-color: #85b8e2;
}

#figure {
    position: absolute;
    width: 200px;
    margin: 190px;
    border-radius: 10%;
    animation: floatUp 1s forwards;
  }

@keyframes floatUp {
    from {
      transform: translateY(100%);
    }
    to {
      transform: translateY(0);
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  #background_pic{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  
  #text_1{
    position: absolute;
    margin-top: 10%;
    float: center;
    margin-left: 35%;
    border-color: blue;
    border: #046aaa;
    font-size: 70px;
    width: 800px;
    flex-direction: row;
  }

  #content_1 {
    /* 其他样式 */
    position: absolute;
    font-size: 16px; /* 修改为适当的字体大小 */
    margin-top: 17%;
    float: center;
    margin-left: 37%;
  }
