/* Here is the setup of the navigation system to make sure it will be the top of the page and the background of it will be transparent */
.top_nav {
  display: flex;
  /* Set display property to flex */
  font-size: x-large;
  flex-direction: row;
  justify-content: space-evenly;
  /* Distribute flex items evenly along the main axis */
  flex-wrap: wrap;
  /* Allow flex items to wrap to the next line if necessary */
  padding: 25px;
  margin: 0px;
  border-left: 0px;
  position: absolute;
  left: 0;
  top: 0px;
  width: 100%;
  text-decoration: none;
  opacity: 0;
  animation: fadeIn 1s 0.5s forwards;
  /* Apply a fade-in animation with a duration of 1 second and a delay of 0.5 seconds */
}

/* Here is the setup of the character of the navigation system to make sure their display */
.title {
  text-decoration: none;
  /* Remove text decoration such as underline */
  color: #015990;
}

.title:hover {
  text-decoration: underline;
  color: darkgreen;
}

/* Navigation bar links */
#about_nav {
  font-size: 40px;
  /* Sets the font size to 40px */
}

#awards_nav {
  font-size: 40px;
  /* Sets the font size to 40px */
}

#hobbies_nav {
  font-size: 40px;
  /* Sets the font size to 40px */
}

#project_nav {
  font-size: 40px;
  /* Sets the font size to 40px */
  text-decoration: underline;
  /* Adds underline */
  text-decoration-color: #015990;
  /* Sets the underline color to a specific shade of blue */
}

#quiz_nav {
  font-size: 40px;
  /* Sets the font size to 40px */
}

/* Fade-in animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    /* Starts with opacity 0 */
  }

  to {
    opacity: 1;
    /* Ends with opacity 1 */
  }
}

/* Background image */
#background_pic {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  /* Sets the stack order to be behind other elements */
}

/* Content container */
#content {
  display: flex;
  font-size: 25px;
  margin-top: 7%;
  color: #000000;
  background-color: rgba(255, 255, 255, 0.9);
  border: 10px solid #78a7f8;
  padding-left: 2%;
  border-radius: 5%;
  flex-direction: column;
  line-height: 130%;
  font-size: x-large;
  margin-left: 9%;
  position: absolute;
  left: 0;
  top: 0;
  width: 80%;
  float: left;
  /* Floats the container to the left */
  animation: floatLeft 1s forwards;
  /* Applies a float-left animation */
}

/* Heading h3 */
h3 {
  color: #000000;
  /* Sets the color to black */
  margin-left: 1%;
  /* Adds left margin */
  margin-top: 3%;
  /* Adds top margin */
  margin-bottom: 0;
  /* Removes bottom margin */
}

/* Float-left animation */
@keyframes floatLeft {
  from {
    transform: translateX(100%);
    /* Starts with translateX 100% */
  }

  to {
    transform: translateX(0);
  }
}