/* Here is the setup of the navigation system to make sure it will be the top of the page and the background of it will be transparent */
.top_nav {
  display: flex;
  /* Set display property to flex */
  font-size: x-large;
  flex-direction: row;
  justify-content: space-evenly;
  /* Distribute flex items evenly along the main axis */
  flex-wrap: wrap;
  /* Allow flex items to wrap to the next line if necessary */
  padding: 25px;
  margin: 0px;
  border-left: 0px;
  position: absolute;
  left: 0;
  top: 0px;
  width: 100%;
  text-decoration: none;
  opacity: 0;
  animation: fadeIn 1s 0.5s forwards;
  /* Apply a fade-in animation with a duration of 1 second and a delay of 0.5 seconds */
}

/* Here is the setup of the character of the navigation system to make sure their display */
.title {
  text-decoration: none;
  /* Remove text decoration such as underline */
  color: #015990;
}

.title:hover {
  text-decoration: underline;
  color: darkgreen;
}

/* Navigation bar links */
#about_nav {
  font-size: 40px;
}

#awards_nav {
  font-size: 40px;
}

#hobbies_nav {
  font-size: 40px;
}

#project_nav {
  font-size: 40px;
}

#quiz_nav {
  font-size: 40px;
  text-decoration: underline;
  text-decoration-color: #015990;
  /* Sets the underline color to a specific shade of blue */
}

/* Fade-in animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    /* Starts with opacity 0 */
  }

  to {
    opacity: 1;
    /* Ends with opacity 1 */
  }
}

/* Background image */
#background_pic {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/* Set Introduction word right in the middle of the page*/
#introduction_word {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  /* Distributes the space evenly between the elements */
  font-family: 'Times New Roman', Times, serif;
  font-size: 100px;
  margin-top: 13%;
  margin-bottom: 5%;
  flex-wrap: wrap;
  /* Allows the elements to wrap to the next row */
  animation-duration: 2s;
  /* Sets the duration of the animation */
  color: #fafafa;
  animation-name: slide;
}

/* Set Home button below the introduction word*/
#home_button {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #0081CF;
  border: rgb(17, 108, 246);
  border-radius: 30px;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 300px;
  transition: all 0.5s;
  /* Adds a transition effect */
  cursor: pointer;
  /* Changes the cursor to a pointer on hover */
  margin: 10px auto;
}

/* Slide animation */
@keyframes slide {
  from {
    margin-bottom: 100%;
    /* Starts with a margin-bottom of 100% */
    width: 300%;
    /* Starts with a width of 300% */
  }

  to {
    margin-left: 0%;
    /* Ends with a margin-left of 0% */
    width: 100%;
    /* Ends with a width of 100% */
  }
}

#button_link {
  text-decoration: none;
}

/* Set the modal initially hiden, and the position of it */
.modal {
  display: none;
  /* Hide the modal by default */
  position: fixed;
  z-index: 1;
  /* Set a high z-index to ensure the modal appears on top of other elements */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  /* Enable scrolling if the content is larger than the modal */
  background-color: rgba(0, 0, 0, 0.4);
  /* Semi-transparent black background */
  animation: show 1s forwards;
  /* Apply the "show" animation with a duration of 1 second */
}

@keyframes show {
  from {
    opacity: 0;
    /* Start the animation with 0 opacity (invisible) */
  }

  to {
    opacity: 1;
    /* End the animation with 1 opacity (fully visible) */
  }
}
/* Set the modal content position and border */
.modal-content {
  background-color: #b0cde6;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  border-radius: 30px;
  /* Rounded corners for the modal content */
}

.close {
  color: #aaa;
  /* Color of the close button */
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  /* Change the cursor to a pointer on hover */
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  /* Remove underline on hover/focus */
  cursor: pointer;
}
/* Set the square of the input of the name */
#Name_input {
  outline-style: none;
  /* Remove the outline when the input is focused */
  border: 1px solid #c0c4cc;
  border-radius: 5px;
  width: 50%;
  height: 100%;
  padding: 0;
  padding: 10px 15px;
  box-sizing: border-box;
  font-family: "Microsoft soft";
  flex-direction: row;
  justify-content: space-around;
  margin-left: 25.5%;
  margin-top: 5%;
  height: 50px;
  font-size: 16px;
}

#Name_input::placeholder {
  font-weight: bold;
  /* Font weight of the input placeholder text */
  font-size: x-large;
  /* Font size of the input placeholder text */
  color: black;
  /* Color of the input placeholder text */
  opacity: 0.3;
  /* Opacity of the input placeholder text */
}

/* Set first button that shows up */
#Name_button {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #0081CF;
  border: rgb(17, 108, 246);
  border-radius: 30px;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 20px;
  width: 20%;
  transition: all 0.5s;
  /* Apply a smooth transition to all CSS properties with a duration of 0.5 seconds */
  cursor: pointer;
  /* Change the cursor to a pointer on hover */
  margin: 7% auto;
  height: auto;
  top: 10%;
  /* Position the button 10% from the top of the parent element */
}

#Name_button_after {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #0081CF;
  border: rgb(17, 108, 246);
  border-radius: 30px;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 20px;
  width: 20%;
  transition: all 0.5s;
  /* Apply a smooth transition to all CSS properties with a duration of 0.5 seconds */
  cursor: pointer;
  margin: 7% auto;
  height: auto;
  top: 10%;
}
/* Set second button that shows up */
#Name_button_0 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #0081CF;
  border: rgb(17, 108, 246);
  border-radius: 30px;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 20px;
  /* Padding inside the button */
  width: 20%;
  transition: all 0.5s;
  /* Apply a smooth transition to all CSS properties with a duration of 0.5 seconds */
  cursor: pointer;
  /* Change the cursor to a pointer on hover */
  margin: 7% auto;
  height: auto;
  top: 10%;
  display: none;
  /* Initially hide the button */
}
/* Set third button that shows up */
#Name_button_1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #0081CF;
  border: rgb(17, 108, 246);
  border-radius: 30px;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 20px;
  width: 20%;
  transition: all 0.5s;
  /* Apply a smooth transition to all CSS properties with a duration of 0.5 seconds */
  cursor: pointer;
  /* Change the cursor to a pointer on hover */
  margin: 7% auto;
  /* Center the button vertically and horizontally */
  height: auto;
  top: 10%;
  /* Position the button 10% from the top of the parent element */
  display: none;
  /* Initially hide the button */
}

h2 {
  font-size: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
/* Set the introduction word */
#reminder {
  font-family: Arial, Helvetica, sans-serif;
  text-emphasis: initial;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: red;
}
/* Set the options container */
#options_container {
  margin-left: 4%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 0%;
  display: none;
  /* Initially hide the options container */
}
/* Set the options in the container */
.option {
  background-color: #5bc0ff;
  border: rgb(77, 148, 255);
  border-radius: 10px;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 20px;
  width: 20%;
  cursor: pointer;
  margin-inline: 1.8%;
  height: auto;
  margin-top: 7%;
}
/* Set the color of the chosen choice to differenciate them */
.selected {
  background-color: blue;
  /* Background color of the selected option */
  color: white;
  /* Text color of the selected option */
}

.question_time {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#modal_title_time {
  margin-right: 5%;
  /* Right margin of the modal title */
}

/* Styles for the leaderboard section */
#leaderboard {
  display: none;
  font-size: 25px;
  margin-top: 7%;
  color: #000000;
  background-color: rgba(255, 255, 255, 1);
  /* Set the background color to white */
  border: 15px solid #78a7f8;
  padding: 2%;
  border-radius: 30px;
  flex-direction: column;
  line-height: 130%;
  font-size: x-large;
  margin-left: 7%;
  position: absolute;
  left: 0;
  top: 0;
  width: 80%;
  float: left;
  animation: floatLeft 1s forwards;
  /* Apply the floatLeft animation with a duration of 1 second */
}

/* Animation keyframes for the floatLeft animation */
@keyframes floatLeft {
  from {
    transform: translateX(100%);
    /* Move the element 100% of its own width to the right */
  }

  to {
    transform: translateX(0);
    /* Move the element back to its original position */
  }
}

/* Styles for the h1 element */
h1 {
  display: flex;
  justify-content: center;
}

/* Styles for the table header */
#table_1 thead th {
  background-color: rgb(81, 130, 187);
  color: #fff;
  border-bottom-width: 0;
}

/* Styles for table cells */
#table_1 td {
  color: #000;
  /* Set the text color to black */
}

/* Styles for table rows and header cells */
#table_1 tr,
#table_1 th {
  border-width: 1px;
  border-style: solid;
  border-color: rgb(81, 130, 187);
}

/* Padding and font styles for table cells and header cells */
#table_1 td,
#table_1 th {
  padding: 5px 10px;
  font-size: 20px;
  font-family: Verdana;
  font-weight: bold;
}

/* Styles for the Name_button_2 element */
#Name_button_2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #0081CF;
  border: rgb(17, 108, 246);
  border-radius: 30px;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 20px;
  width: 20%;
  transition: all 0.5s;
  /* Apply a transition effect to all CSS properties with a duration of 0.5 seconds */
  cursor: pointer;
  margin: 7% auto;
  height: auto;
  top: 10%;
  z-index: 7;
  /* Set the stacking order of the element */
}