/* Styles for the introduction_word section */
#introduction_word {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-family: 'Times New Roman', Times, serif;
    font-size: 100px;
    margin-top: 13%;
    margin-bottom: 5%;
    flex-wrap: wrap;
    animation-duration: 2s;
    /* Set the duration of the animation to 2 seconds */
    color: #fafafa;
    animation-name: slide;
}

/* Styles for the .main class */
.main {
    background-color: #0b5776;
}

/* Styles for the first button element */
#home_button {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #0081CF;
    border: rgb(17, 108, 246);
    border-radius: 30px;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 300px;
    transition: all 0.5s;
    cursor: pointer;
    /* Set the cursor to a pointer */
    margin: 10px auto;
    /* Set the top and bottom margin to 10 pixels and auto for left and right margins */
    animation-name: slide;
}

/* Styles for the button_link element */
#button_link {
    text-decoration: none;
    /* Remove text decoration */
}

/* Animation keyframes for the slide animation */
@keyframes slide {
    from {
        margin-bottom: 100%;
        /* Start the animation with a margin-bottom value of 100% */
        width: 300%;
        /* Start the animation with a width value of 300% */
    }

    to {
        margin-left: 0%;
        /* Move the element to the left */
        width: 100%;
        /* Set the width to 100% */
    }
}

/* Animation keyframes for the fadeIn animation */
@keyframes fadeIn {
    from {
        opacity: 0;
        /* Start the animation with an opacity of 0 */
    }

    to {
        opacity: 1;
        /* Fade in the element with an opacity of 1 */
    }
}

/* Styles for the video-background section */
#video-background {
    position: fixed;
    /* Position the element fixed */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

/* Styles for the video element within the video-background section */
#video-background video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}