#introduction_word {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-family: 'Times New Roman', Times, serif;
    font-size: 100px;
    margin-top: 13%;
    margin-bottom: 5%;
    flex-wrap: wrap;
    animation-duration: 2s;
    color: #fafafa;
    animation-name: slide;
}

.main {
    background-color: #0b5776;
}

#home_button {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #0081CF;
    border: rgb(17, 108, 246);
    border-radius: 30px;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 300px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 10px auto;
}

#button_link {
    text-decoration: none;
}


@keyframes slide {
    from {
        margin-bottom: 100%;
        width: 300%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
#video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#video-background video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

html {
    scroll-behavior: smooth;
}
